body {
  font-family: sans-serif;
}

#life_outer {
  height: 50px;
  background: #ccc;
}

.rowdiv {
  padding: 1px;
}

.livecell {
  background: #800;
}

.deadcell {
  background: blue;
  background: #eee;
}

table {
  padding: 0px;
  margin:  0px;
  border:  0px;
  border-spacing: 1px;
}
td {
  padding: 0px;
  margin:  0px;
  border:  0px;
}


